name: CI

on: push

jobs:
  login:
    name: foo
    runs-on: ubuntu-latest
    steps:
      - run: echo foo

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: login
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - run: echo foo

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: login
    steps:
      - uses: actions/checkout@v2

      - run: echo foo > foo.txt
      - run: ls

      - uses: actions/upload-artifact@v2
        if: ${{ github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/master' }}

  deploy-dev:
    name: Deploy to dev
    environment: develop
    if: ${{ github.ref == 'refs/heads/develop' }}
    runs-on: ubuntu-latest
    needs: [build, test]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2

      - run: cat foo.txt

  publish:
    name: Publish artifacts
    environment: production
    if: ${{ github.ref == 'refs/heads/master' }}
    runs-on: ubuntu-latest
    needs: [build, test]
    steps:
      - uses: actions/download-artifact@v2

      - run: |
          cd ./artifact
          ls
          cat foo.txt
