name: Terraform Deploy

on:
  pull_request:
    branches:
      - develop
      - main
  issue_comment:
    type:
      - created

jobs:
  plan:
    name: plan
    runs-on: ubuntu-latest

    environment: "${{ github.base_ref == 'refs/heads/develop' && 'dev' || prod }}"

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: terraform plan
        uses: dflook/terraform-plan@v1
        with:
          path: infra

  apply:
    name: apply
    runs-on: ubuntu-latest

    environment: ${{ github.base_ref == 'refs/heads/develop' && 'dev' || prod }}
    if: github.event.issue.pull_request && contains(github.event.comment.body, 'terraform apply')

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: refs/pull/${{ github.event.issue.number }}/merge

      - name: terraform apply
        uses: dflook/terraform-apply@v1
        with:
          path: infra
