name: CI

on: push

jobs:
  # login:
  #   name: foo
  #   runs-on: ubuntu-latest
  #   steps:
  #     - run: echo foo

  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   needs: login
  #   steps:
  #     - name: Check out code
  #       uses: actions/checkout@v2

  #     - run: echo foo

  # build:
  #   name: Build
  #   runs-on: ubuntu-latest
  #   needs: login
  #   steps:
  #     - uses: actions/checkout@v2

  #     - run: mkdir build

  #     - run: echo foo > build/foo.txt
  #     - run: ls

  #     - uses: actions/upload-artifact@v2
  #       if: ${{ github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/master' }}
  #       with:
  #         name: build
  #         path: build

  deploy:
    name: Deploy to dev
    environment: dev
    if: ${{ github.ref == 'refs/heads/develop' }}
    runs-on: ubuntu-latest
    # needs: [build, test]
    steps:
      - run: echo ${{ secrets.FOO }}

      # - uses: actions/download-artifact@v2

      # - run: ls

      # - run: cat build/foo.txt
