name: Terraform Apply

on:
  push:
    branches:
      - master
      - develop

jobs:
  apply:
    runs-on: ubuntu-latest
    name: apply
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: terraform apply
        uses: dflook/terraform-apply@v1
        with:
          path: infra
