name: Terraform Apply

on:
  push:
    branches:
      - main
      - develop

jobs:
  dev-apply:
    name: dev apply
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/develop'
    environment: dev
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: terraform plan
        uses: dflook/terraform-apply@v1
        with:
          path: infra
          var_file: infra/dev.tfvars
          backend_config_file: infra/dev.backend.tfvars

  prod-apply:
    name: prod apply
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    environment: prod
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: terraform plan
        uses: dflook/terraform-apply@v1
        with:
          path: infra
          var_file: infra/prod.tfvars
          backend_config_file: infra/prod.backend.tfvars
