name: Terraform Apply Prod

on:
  push:
    branches:
      - master
    paths:
      - infra/**

jobs:
  apply:
    name: apply
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    environment: prod
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: terraform apply
        uses: dflook/terraform-apply@v1
        with:
          path: infra
