name: Terraform Apply

on:
  issue_comment:
    type: [created]

jobs:
  apply:
    name: apply
    runs-on: ubuntu-latest
    if: github.event.issue.pull_request

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: refs/pull/${{ github.event.issue.number }}/merge

      - name: terraform apply
        uses: dflook/terraform-apply@v1
        with:
          path: infra
